<div class="contact-container">
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    [fontIcon]="contact!.contactIcon"
    class="custom-icon"
  >
  </mat-icon>
  <ng-container [ngSwitch]="contact.contactType">
    <!-- Email: Add mailto link -->
    <a *ngSwitchCase="'mail'" [href]="'mailto:' + contact.contactValue">
      {{ contact.contactValue }}
    </a>

    <!-- Phone: Add tel link -->
    <a *ngSwitchCase="'phone'" [href]="'tel:' + contact.contactValue">
      {{ contact.contactValue }}
    </a>

    <!-- Links: Open in a new tab -->
    <a
      *ngSwitchCase="'link'"
      [href]="'https://' + contact.contactValue"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{ contact.contactValue }}
    </a>

    <!-- Default case (text) -->
    <span *ngSwitchDefault>
      {{ contact.contactValue }}
    </span>
  </ng-container>
</div>
