<mat-toolbar>
  <span>Barbara Pugliatti</span>
  <span class="toolbar-spacer">
    <button
      mat-icon-button
      class="toolbar-icon favorite-icon"
      aria-label="toolbar icon-button with heart icon"
      (click)="savePdf()"
    >
      <mat-icon>download</mat-icon>
    </button>
    <button
      mat-icon-button
      class="toolbar-icon"
      aria-label="toolbar icon-button with share icon"
    >
      <mat-icon>print</mat-icon>
    </button>
    <button
      mat-icon-button
      class="toolbar-icon"
      aria-label="toolbar icon-button with share icon"
    >
      <mat-icon>brush</mat-icon>
    </button>
    <button
      mat-icon-button
      class="toolbar-icon"
      aria-label="toolbar icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </span>
</mat-toolbar>
