<mat-toolbar appTheme>
  <span>{{ cvName }}</span>
  <span class="toolbar-spacer">
    <button
      mat-icon-button
      class="toolbar-icon favorite-icon"
      (click)="savePdf()"
    >
      <mat-icon>download</mat-icon>
    </button>
    <button mat-icon-button class="toolbar-icon" (click)="printPdf()">
      <mat-icon>print</mat-icon>
    </button>
    <button
      mat-icon-button
      class="toolbar-icon"
      [matMenuTriggerFor]="styleMenu"
    >
      <mat-icon>brush</mat-icon>
    </button>
    <mat-menu #styleMenu="matMenu">
      @for (theme of themes; track theme) {
        <button mat-menu-item (click)="switchTheme(theme)" class="capitalize">
          {{ theme }}
        </button>
      }
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="langMenu" class="toolbar-icon">
      <mat-icon>g_translate</mat-icon>
    </button>
    <mat-menu #langMenu="matMenu">
      @for (language of languages; track language) {
        <button
          mat-menu-item
          (click)="switchLanguage(language)"
          class="capitalize"
        >
          {{ language }}
        </button>
      }
    </mat-menu>
  </span>
</mat-toolbar>
