@use "@angular/material" as mat;
@use "_theme-colors" as custom-theme;

// ✅ Apply the Light Theme by Default
html {
  @include mat.theme(
    (
      color: (
        primary: custom-theme.$primary-palette,
        tertiary: custom-theme.$tertiary-palette,
        theme-type: light,
      ),
      typography: (
        plain-family: Rubik,
        brand-family: Open Sans,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0,
    )
  );
}

$_typography: (
  plain-family: Rubik,
  brand-family: Open Sans,
  bold-weight: 900,
  medium-weight: 500,
  regular-weight: 300,
);

@mixin apply-theme-mode($primary-palette, $tertiary-palette: custom-theme.$tertiary-palette) {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: $primary-palette,
        tertiary: $tertiary-palette,
      ),
      typography: $_typography,
      density: 0,
    )
  );
}

@mixin theme-container($primary-palette, $accent-30, $track-95, $tertiary-palette: custom-theme.$tertiary-palette) {
  @include apply-theme-mode($primary-palette, $tertiary-palette);
  .custom-icon,
  a:hover,
  mat-icon {
    color: $accent-30 !important;
    transition: 0.5s;
  }
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: $accent-30,
      track-color: $track-95,
    )
  );
}

@mixin theme-toolbar($bg-color, $icon-color) {
  background-color: $bg-color;
  mat-icon {
    color: $icon-color !important;
    transition: 0.5s;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  font-family: Rubik, Roboto, sans-serif;
  color: custom-theme.get-neutral(30);
  background: custom-theme.get-neutral(98);
  .custom-icon,
  a:hover,
  mat-icon {
    color: custom-theme.get-primary(40) !important;
    transition: 0.5s;
  }
  .mat-toolbar {
    background-color: custom-theme.get-primary(60);
    mat-icon {
      color: custom-theme.get-primary(20) !important;
      transition: 0.5s;
    }
  }
}

h1,
h2 {
  font-family: Lora, Rubik, Roboto, sans-serif;
  margin: 0px;
}

mat-list span[matListItemTitle] {
  color: custom-theme.get-neutral(30);
}

mat-list span[matListItemLine] {
  color: custom-theme.get-neutral(40);
  font-weight: 400;
}

mat-list-item {
  padding-left: 0;
}

.capitalize {
  text-transform: capitalize;
}

.container.blue {
  @include theme-container(
    custom-theme.$secondary-palette,
    custom-theme.get-secondary(30),
    custom-theme.get-secondary(95)
  );
}
.mat-toolbar.blue {
  @include theme-toolbar(custom-theme.get-secondary(60), custom-theme.get-secondary(20));
}

.container.green {
  @include theme-container(
    custom-theme.$green-palette,
    custom-theme.get-green(30),
    custom-theme.get-green(95)
  );
}
.mat-toolbar.green {
  @include theme-toolbar(custom-theme.get-green(60), custom-theme.get-green(20));
}

.container.monochrome {
  @include theme-container(
    custom-theme.$neutral-variant-palette,
    custom-theme.get-neutral(30),
    custom-theme.get-neutral(95),
    custom-theme.$neutral-variant-palette
  );
}
.mat-toolbar.monochrome {
  @include theme-toolbar(custom-theme.get-neutral(60), custom-theme.get-neutral(20));
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body {
    background: white !important;
  }

  app-head-toolbar {
    display: none !important;
  }

  .avoid-page-break {
    break-inside: avoid;
  }
}
