<header>
    <app-header>
    </app-header>
</header>
<main>
    <section>
        <app-job-experience>
        </app-job-experience>
    </section>
    <section>
        <app-education>
        </app-education>
    </section>
</main>
<aside>
    <section>
        <app-contact-item>
        </app-contact-item>
    </section>
    <section>
        <app-skill>
        </app-skill>
    </section>
    <section>
        <app-languge-proficiency>
        </app-languge-proficiency>
    </section>
</aside>