<header>
  <app-header> </app-header>
</header>
<main>
  <section>
    <app-category-title></app-category-title>
    <app-experience> </app-experience>
  </section>
  <section>
    <app-category-title></app-category-title>
    <app-experience> </app-experience>
  </section>
</main>
<aside>
  <section>
    <app-contact-item> </app-contact-item>
  </section>
  <section>
    <app-category-title></app-category-title>
    <app-skill> </app-skill>
  </section>
  <section>
    <app-category-title></app-category-title>
    <app-languge-proficiency> </app-languge-proficiency>
  </section>
</aside>
